<div class="nav-bar-sticky">
    <img src="../../../../assets/images/BannerConectaBarrio2.png">
    
    @if (isLogged) {
        <div class="user-info align-items-center">
            <span class="user"> {{loggedUser}} </span>
            <button mat-raised-button class="btn-theme mx-3" style="float: right;" (click)="logOut()">
                <mat-icon>logout</mat-icon>Salir</button>
        </div>
    }
    @else {
        <div class="float-end py-1 user-info">
            <button mat-raised-button class="btn-theme" (click)="login()">
                <mat-icon>login</mat-icon>Acceder</button>
            <button mat-raised-button class="btn-theme mx-2" (click)="register()">
                <mat-icon>app_registration</mat-icon>Registro</button>
        </div>
    }
    
    
</div> 
