<div class="card w-100 p-4">

    <mat-card-header>
        <img src="../../../../assets/images/header-dialog.png">
    </mat-card-header>

    <form *ngIf="formData" [formGroup]="formData">
        
        <div class="row"> 
            <mat-form-field>
                <mat-label>{{ "ACTIVITY.TYPE" | translate }}</mat-label>
                <mat-select formControlName="idEventType">
                    <mat-option *ngFor="let type of types" [value]="type.idEventType">
                        {{type.eventType | translate}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row"> 
            <mat-form-field>
                <mat-label>{{ "ACTIVITY.CATEGORY" | translate }}</mat-label>
                <mat-select formControlName="idEventCategory">
                    <mat-option *ngFor="let cat of categories" [value]="cat.idEventCategory" (onSelectionChange)="selectCategory(cat.idEventCategory)">
                        {{cat.eventCategory | translate}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row"> 
            <mat-form-field>
                <mat-label>{{ "ACTIVITY.SUBCATEGORY" | translate }}</mat-label>
                <mat-select formControlName="idEventSubCategory">
                    <mat-option *ngFor="let subcat of subCategoriesFiltered" [value]="subcat.idEventSubCategory">
                        {{subcat.eventSubCategory | translate}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>


        <div class="row">
            <mat-form-field class="input-form" appearance="outline">
                <mat-label>{{ "ACTIVITY.LOCATION" | translate }}</mat-label>
                <input matInput formControlName="location" />
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="input-form" appearance="outline">
                <mat-label>{{ "ACTIVITY.MAX_PERSON" | translate }}</mat-label>
                <input matInput formControlName="maxPerson" type="number" />
            </mat-form-field>
        </div>

        <mat-form-field>
            <mat-label>{{ "ACTIVITY.DATE" | translate }}</mat-label>
            <input matInput [matDatepicker]="start" formControlName="eventDate"/>
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="start"></mat-datepicker-toggle>
            <mat-datepicker #start>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>{{ "ACTIONS.CANCEL" | translate }}</button>
                <button mat-raised-button matDatepickerApply>{{ "ACTIONS.SELECT" | translate }}</button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>


        <div mat-dialog-actions class="py-1 float-end">
            <button mat-raised-button color="primary" mat-dialog-close type="submit" class="py-1 float-end" (click)="register()">{{ "ACTIONS.SAVE" | translate }}</button>
            <button mat-raised-button color="warn" mat-dialog-close class="py-1 float-end">{{ "ACTIONS.CLOSE" | translate }}</button>
        </div>
    </form>

</div>
