<div class="card w-100 p-4">

    <mat-card-header>
        <img src="../../../../assets/images/header-dialog.png">
    </mat-card-header>

    <form *ngIf="formData" [formGroup]="formData">
        
        <div class="row"> 
            <mat-form-field>
                <mat-label>Selecciona categoría</mat-label>
                <mat-select formControlName="idCategory">
                    <mat-option *ngFor="let cat of categories" [value]="cat.key">
                        {{cat.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>


        <div class="row">
            <mat-form-field class="input-form" appearance="outline">
                <mat-label>Título</mat-label>
                <input matInput formControlName="name" />
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="input-form" appearance="outline">
                <mat-label>Descripción</mat-label>
                <input matInput formControlName="description" />
            </mat-form-field>
        </div>

        <mat-form-field>
            <mat-label>Fecha de inicio</mat-label>
            <input matInput [matDatepicker]="start" placeholder="Selecciona una fecha de inicio:" formControlName="startDate"/>
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="start"></mat-datepicker-toggle>
            <mat-datepicker #start>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button matDatepickerApply>Apply</button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Fecha de fin</mat-label>
            <input matInput [matDatepicker]="end" formControlName="endDate"/>
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="end"></mat-datepicker-toggle>
            <mat-datepicker #end>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button matDatepickerApply>Apply</button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>

        <div mat-dialog-actions class="py-1 float-end">
            <button mat-raised-button color="primary" mat-dialog-close type="submit" class="py-1 float-end" (click)="register()">Crear noticia</button>
            <button mat-raised-button color="warn" mat-dialog-close class="py-1 float-end">Cerrar</button>
        </div>
    </form>

</div>
