<div class="card w-100 p-4">

    <mat-card-header>
        <img src="../../../../assets/images/header-dialog.png">
    </mat-card-header>

    <form *ngIf="formData" [formGroup]="formData">
        
        <div class="row"> 
            <mat-form-field>
                <mat-label>{{ "COMPLAINTS.TYPE" | translate }}</mat-label>
                <mat-select formControlName="idComplaintType">
                    <mat-option *ngFor="let cat of types" [value]="cat.key">
                        {{cat.value | translate}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row"> 
            <mat-form-field>
                <mat-label>{{ "COMPLAINTS.PRIORITY" | translate }}</mat-label>
                <mat-select formControlName="idPriority">
                    <mat-option *ngFor="let cat of priorities" [value]="cat.key">
                        {{cat.value | translate}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="input-form" appearance="outline">
                <mat-label>{{ "COMPLAINTS.TITLE" | translate }}</mat-label>
                <input matInput formControlName="title" />
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="input-form" appearance="outline">
                <mat-label>{{ "COMPLAINTS.DESCRIPTION" | translate }}</mat-label>
                <textarea matInput rows="5" formControlName="description" > </textarea>
            </mat-form-field>
        </div>

        <div mat-dialog-actions class="py-1 float-end">
            <button mat-raised-button color="primary" mat-dialog-close type="submit" class="py-1 float-end" (click)="register()"  [disabled]="formData.invalid">{{ "ACTIONS.SAVE" | translate }}</button>
            <button mat-raised-button color="warn" mat-dialog-close class="py-1 float-end">{{ "ACTIONS.CLOSE" | translate }}</button>
        </div>
    </form>

</div>
