<div *ngIf="optionSelected" class="result-list">
   
      @switch (optionSelected.idOption) {
          @case (enumAdminOptions.USERS) {
              <div *ngFor="let user of users" class="list-item">
                <div class="item-content">
                  {{ user.name }} {{ user.surname}} - ID: {{ user.idUser}}
                  <div class="item-actions">
                    <button (click)="updateUser(user)">{{ "ACTIONS.MODIFY" | translate }}</button>
                    <button (click)="deleteUser(user)">Borrar</button>
                  </div>
                </div>
                
              </div>
              <button mat-raised-button class="btn-theme mx-2 float-end" (click)="createUser()">{{ "ACTIONS.CREATE" | translate }}</button>
          }
          @case (enumAdminOptions.COMPLAINTS) {
            <div *ngFor="let complaint of complaints" class="list-item">
              <div class="item-content">
                ID: {{ complaint.idComplaint}}
                <div class="item-actions">
                  <button (click)="updateComplaint(complaint)">{{ "ACTIONS.MODIFY" | translate }}</button>
                  <button (click)="deleteComplaint(complaint)">Borrar</button>
                </div>
              </div>
              
            </div>
            <button mat-raised-button class="btn-theme mx-2 float-end" (click)="createComplaint()">{{ "ACTIONS.CREATE" | translate }}</button>
          }
          @case (enumAdminOptions.EVENTS) {            
            <div *ngFor="let activity of activities" class="list-item">
              <div class="item-content">
                ID: {{ activity.idEvent}} - {{ "ACTIVITY.TYPE" | translate }}: {{ activity.eventType | translate}} - 
                {{ "ACTIVITY.CATEGORY" | translate }}: {{ activity.eventCategory | translate}} - {{ "ACTIVITY.SUBCATEGORY" | translate }}: {{ activity.eventSubcategory | translate}}
                <div class="item-actions">
                  <button (click)="updateActivity(activity)">{{ "ACTIONS.MODIFY" | translate }}</button>
                  <button (click)="deleteActivity(activity)">Borrar</button>
                </div>
              </div>
            </div>
            <button mat-raised-button class="btn-theme mx-2 float-end" (click)="createActivity()">{{ "ACTIONS.CREATE" | translate }}</button>
          }
          @case (enumAdminOptions.NEWS) {           
            <div *ngFor="let newNew of news" class="list-item">
              <div class="item-content">
                ID: {{ newNew.idNew }} - {{ "GENERAL.TITLE" | translate}}: {{ newNew.name }} - {{ "NEWS.CATEGORY.TITLE" | translate }}: {{ newNew.category | translate}}
                <div class="item-actions">
                  <button (click)="updateNew(newNew)">{{ "ACTIONS.MODIFY" | translate }}</button>
                  <button (click)="deleteNew(newNew)">Borrar</button>
                </div>
              </div>              
            </div>
            <button mat-raised-button class="btn-theme mx-2 float-end" (click)="createNew()">{{ "ACTIONS.CREATE" | translate }}</button>
          }
      }
  
  </div>
