<div class="card w-100 p-4">

    <mat-card-header>
        <img src="../../../../assets/images/header-dialog.png">
    </mat-card-header>

    <form *ngIf="formData" [formGroup]="formData">
        
        <div class="row">
            <mat-form-field class="input-form" appearance="outline">
                <mat-label>{{ "USER.DATA.NAME" | translate }}</mat-label>
                <mat-icon matPrefix>person</mat-icon>
                <input matInput formControlName="name" />
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="input-form" appearance="outline">
                <mat-label>{{ "USER.DATA.SURNAME" | translate }}</mat-label>
                <mat-icon matPrefix>person</mat-icon>
                <input matInput formControlName="surname" />
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="input-form" appearance="outline">
                <mat-label>{{ "USER.DATA.USERNAME" | translate }}</mat-label>
                <mat-icon matPrefix>person</mat-icon>
                <input matInput formControlName="userName" />
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="input-form" appearance="outline">
                <mat-label>{{ "USER.DATA.EMAIL" | translate }}</mat-label>
                <mat-icon matPrefix>person</mat-icon>
                <input matInput formControlName="email" />
            </mat-form-field>
            @if(formData.get('email').invalid && formData.get('email').touched){ 
                <small>{{ "LOGIN.ACTIONS.ERROR.INVALID_EMAIL" | translate }}</small> 
            }
        </div>

        <div class="row">
            <mat-form-field class="input-form" appearance="outline">
                <mat-label>{{ "USER.DATA.PASSWORD" | translate }}</mat-label>
                <mat-icon matPrefix>lock</mat-icon>
                <input matInput formControlName="password"  [type]="hide ? 'password' : 'text'"/>

                <div mat-icon-button matSuffix class="hide-button" (pointerdown)="hide = !hide" (pointerup)="hide != hide" 
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" mat-raised-button>
                    <mat-icon>{{hide ? "visibility_off" : "visibility"}}</mat-icon>
                </div>
               
            </mat-form-field>
                @if(formData.get('password').invalid && formData.get('password').touched){ 
                    <small>{{ "LOGIN.ACTIONS.ERROR.INVALID_FORMAT" | translate }}</small> 
                }
             
        </div>

        <div class="row">
            <mat-form-field class="input-form" appearance="outline">
                <mat-label>{{ "USER.DATA.REPEAT_PASSWORD" | translate }}</mat-label>
                <mat-icon matPrefix>lock</mat-icon>
                <input matInput formControlName="repeatPassword"  [type]="hide ? 'password' : 'text'"/>
               
                <div mat-icon-button matSuffix class="hide-button" (pointerdown)="hide = !hide" (pointerup)="hide != hide" 
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" mat-raised-button>
                    <mat-icon>{{hide ? "visibility_off" : "visibility"}}</mat-icon>
                </div>
  
            </mat-form-field>
          @if(formData.get('repeatPassword').invalid && formData.get('repeatPassword').touched){ 
                <small>{{ "LOGIN.ACTIONS.ERROR.INVALID_FORMAT" | translate }}</small> 
            }
        </div>

        <div mat-dialog-actions class="py-1 float-end">
            <button mat-raised-button color="primary" mat-dialog-close type="submit" class="py-1 float-end" (click)="register()" [disabled]="formData.invalid">{{ "ACTIONS.SAVE" | translate }}</button>
            <button mat-raised-button color="warn" mat-dialog-close class="py-1 float-end">{{ "ACTIONS.CLOSE" | translate }}</button>
        </div>
    </form>

</div>