<div class="card w-100 p-4">

    <mat-card-header>
        <img src="../../../../assets/images/header-dialog.png">
    </mat-card-header>

    <form *ngIf="formData" [formGroup]="formData">
        
        <div class="row">
            <mat-form-field class="input-form" appearance="outline">
                <mat-label>Nombre</mat-label>
                <mat-icon matPrefix>person</mat-icon>
                <input matInput formControlName="name" />
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="input-form" appearance="outline">
                <mat-label>Apellidos</mat-label>
                <mat-icon matPrefix>person</mat-icon>
                <input matInput formControlName="surname" />
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="input-form" appearance="outline">
                <mat-label>Nombre de usuario</mat-label>
                <mat-icon matPrefix>person</mat-icon>
                <input matInput formControlName="userName" />
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="input-form" appearance="outline">
                <mat-label>Email</mat-label>
                <mat-icon matPrefix>person</mat-icon>
                <input matInput formControlName="email" />
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="input-form" appearance="outline">
                <mat-label>Contraseña</mat-label>
                <mat-icon matPrefix>lock</mat-icon>
                <input matInput formControlName="password"  [type]="hide ? 'password' : 'text'"/>

                <div mat-icon-button matSuffix class="hide-button" (pointerdown)="hide = !hide" (pointerup)="hide != hide" 
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" mat-raised-button>
                    <mat-icon>{{hide ? "visibility_off" : "visibility"}}</mat-icon>
                </div>

            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="input-form" appearance="outline">
                <mat-label>Repetir contraseña</mat-label>
                <mat-icon matPrefix>lock</mat-icon>
                <input matInput formControlName="repeatPassword"  [type]="hide ? 'password' : 'text'"/>

                <div mat-icon-button matSuffix class="hide-button" (pointerdown)="hide = !hide" (pointerup)="hide != hide" 
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" mat-raised-button>
                    <mat-icon>{{hide ? "visibility_off" : "visibility"}}</mat-icon>
                </div>

            </mat-form-field>
        </div>

        <div mat-dialog-actions class="py-1 float-end">
            <button mat-raised-button color="primary" mat-dialog-close type="submit" class="py-1 float-end" (click)="register()">Crear cuenta</button>
            <button mat-raised-button color="warn" mat-dialog-close class="py-1 float-end">Cerrar</button>
        </div>
    </form>

</div>