<app-main-navbar class="h-10"></app-main-navbar>
<div class="home-container w-100 h-100">
    <main class="main h-90 row">
      <div class="welcome-container">
        <div class="content">
          <div class="image-container">
            <!-- <img src="path/to/your/image.jpg" alt="Image Description"> -->
          </div>
          <div class="welcome-text">
            <p id="paragraph1">¡Bienvenido a <span>ConectaBarrio</span>! <br> Nuestra plataforma está diseñada para fomentar la colaboración ciudadana y mejorar la vida en el Barrio del Pilar.</p>
            <p id="paragraph2">En <span>ConectaBarrio</span>, creemos en el poder de la comunidad. Aquí puedes mantenerte informado con las últimas noticias de tu zona y estar al tanto de todo lo que ocurre a tu alrededor.</p>
            <p id="paragraph3">¿Has encontrado un problema en tu barrio? Nuestra plataforma te permite crear quejas y denuncias públicas. Por ejemplo, si ves un bache en la carretera, puedes informar a otros usuarios para que tengan cuidado, así como también notificar a las autoridades para su pronta reparación.</p>
            <p id="paragraph4">Además, en <span>ConectaBarrio</span> puedes crear y participar en eventos locales. Desde actividades deportivas hasta torneos de videojuegos, hay algo para todos. Únete a eventos existentes o crea el tuyo propio para conectar con personas con intereses similares.</p>
            <p id="paragraph5">También puedes unirte a grupos de interés como música, lectura y más. Estos grupos te permiten conectar con otros miembros de la comunidad que comparten tus pasiones, organizar encuentros y disfrutar de tus hobbies en compañía.</p>
            <p id="paragraph6">¡Únete hoy a <span>ConectaBarrio</span> y sé parte del cambio!  <br> Juntos podemos construir un barrio más unido, informado y activo.</p>
          </div>
        </div>
      </div>
  </main>
</div> 

