<app-main-navbar class="h-10"></app-main-navbar>
<div class="home-container w-100 h-100">
    <main class="main h-90 row">
      <div class="welcome-container">
        <div class="content">
          <div class="image-container">
            <!-- <img src="path/to/your/image.jpg" alt="Image Description"> -->
          </div>
          <div class="welcome-text">
            <p id="paragraph1">{{ "HOME.INTRO.PARAGRAPH_1" | translate }}</p>
            <p id="paragraph2">{{ "HOME.INTRO.PARAGRAPH_2" | translate }}</p>
            <p id="paragraph3">{{ "HOME.INTRO.PARAGRAPH_3" | translate }}</p>
            <p id="paragraph4">{{ "HOME.INTRO.PARAGRAPH_4" | translate }}</p>
            <p id="paragraph5">{{ "HOME.INTRO.PARAGRAPH_5" | translate }}</p>
            <p id="paragraph6">{{ "HOME.INTRO.PARAGRAPH_6" | translate }}</p>
          </div>
        </div>
      </div>
  </main>
</div> 

