<div class="news-container" >
    
    @if (userLoggedIn !== null) {
        <button mat-raised-button class="btn-theme mx-2 float-end" (click)="createComplaint()">{{ "ACTIONS.CREATE" | translate }}</button>
    }

    <div  class="cards-container">

        <h2>{{ "COMPLAINTS.MY_COMPLAINTS" | translate }}</h2>

        <div class="row-cards" *ngFor="let row of rowsMyComplaints">
            <div class="column-cards" *ngFor="let item of row">
                <mat-card class="card" >
                    <mat-card-header>
                        <h2>{{item.title}}</h2>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{item.description}}</p>
                        <a (click)="openDescription(item)">{{"GENERAL.READ_MORE"| translate}}</a>  
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button class="btn-theme mx-2 float-end" (click)="updateComplaint(item)">{{ "ACTIONS.MODIFY" | translate }}</button>
                        <button mat-raised-button class="btn-theme mx-2 float-end" (click)="deleteComplaint(item)">{{ "ACTIONS.DELETE" | translate }}</button>
                    </mat-card-actions>
                </mat-card>   
            </div>
        </div>
    </div>
    
    <div class="cards-container">

        <h2>{{ "COMPLAINTS.USERS_COMPLAINTS" | translate }}</h2>

        <div class="row-cards" *ngFor="let row of rowsComplaints">
            <div class="column-cards" *ngFor="let item of row">
                <mat-card class="card" > 
                    <mat-card-header>
                        <h2>{{item.title}}</h2>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{item.description}}</p>
                        <a (click)="openDescription(item)">{{"GENERAL.READ_MORE"| translate}}</a>  
                    </mat-card-content>
                </mat-card>   
            </div>
        </div>
    </div>

</div>