<div class="news-container" >
    
    @if (userLoggedIn !== null) {
        <button mat-raised-button class="btn-theme mx-2 float-end" (click)="createNew()">{{ "ACTIONS.CREATE" | translate }}</button>
    }

    <div class="cards-container">

        <h2>{{ "NEWS.GOOGLE" | translate }}</h2>

        <div class="row-cards" *ngFor="let row of rowsGoogle">
            <div class="column-cards" *ngFor="let item of row">
                <mat-card class="card" >
                    <mat-card-header>
                        <h2>{{item.title}}</h2>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{item.description}}</p>
                        <a [href]="item.url" target="_blank">{{"GENERAL.READ_MORE"| translate}}</a>  
                    </mat-card-content>
                </mat-card>   
            </div>
        </div>
    </div>
    
    <div class="cards-container">
        <h2>{{ "NEWS.USERS" | translate }}</h2>
        <div class="row-cards" *ngFor="let row of rowsNews">
            <div class="column-cards" *ngFor="let item of row">
                <mat-card class="card" > 
                    <mat-card-header>
                        <h2>{{item.name}}</h2>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{item.description}}</p>
                        <a (click)="openDescription(item)">{{"GENERAL.READ_MORE"| translate}}</a>  
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button class="btn-theme mx-2 float-end" (click)="updateNew(item)">{{ "ACTIONS.MODIFY" | translate }}</button>
                        <button mat-raised-button class="btn-theme mx-2 float-end" (click)="deleteNew(item)">{{ "ACTIONS.DELETE" | translate }}</button>
                    </mat-card-actions>
                </mat-card>   
            </div>
        </div>
    </div>

</div>