.news-container{
    background-image: url('../../../../assets/images/News2.jpg');
    background-size: contain;
    background-position: relative;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
}


mat-card {
    width: 30%;
    height: 30%;
}